<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <span>Admin Dashboard</span>
            <a href="/logout" class="btn">Sair</a>
        </div>
    </header>
    <main>
        <h1>Bem-vindo, Admin!</h1>
        <p>Escolha uma das opções abaixo:</p>
        <ul>
            <li><a href="/thymeleaf/accounts">Gerenciar Contas</a></li>
        </ul>
    </main>
</body>
</html>
