<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Contas</title>
</head>
<body>
    <h1>Contas Bancárias</h1>
    <table>
        <thead>
            <tr>
                <th>Número da Conta</th>
                <th>Nome do Titular</th>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.accountNumber}"></td>
                <td th:text="${account.ownerName}"></td>
                <td th:text="${account.balance}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
